@charset "utf-8";
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "PlayfairDisplay", 돋움, sans-serif;
  color: #000;
  position: relative;
}

/* header */
header {
  position: fixed;
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 9999;
}
header h1 {
  width: 100px;
  margin-left: 10px;
  margin-right: auto;
  cursor: pointer;
}
header .Menu {
  display: flex;
  cursor: pointer;
}
header .Menu li {
  margin-right: 40px;
}
header .Menu a {
  font-size: 1.8rem;
  height: 80px;
  /* padding: 0 20px; */
  font-weight: 500;
}
.text_doc {
  text-decoration: none;
  background-image: linear-gradient(#292929, #292929);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  transition: background-size 500ms ease-in-out;
}
.text_doc:hover {
  background-size: 100% 2px;
  color: inherit;
}
.text_doc:hover.check {
  background-size: 100% 2px;
  color: inherit;
  background-image: linear-gradient(#fff, #fff);
}
header .Menu li:nth-child(4) {
  margin-right: 44px;
}
.header_Logo2 {
  display: none;
  cursor: pointer;
}
.header_Logo2.on {
  display: block;
  position: absolute;
  left: 1.5%;
  top: 19%;
  width: 110px;
}
.header_Logo.remove {
  display: none;
}

/* main */
main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background: fixed url(../images/object/main-star_play-x.png) 50% / cover; */
}
main .mainBackground {
  position: absolute;
}
main .mainBackground_rh {
  width: 1400px;
  top: -19%;
  right: -19%;
  animation-name: bounce-3;
  animation-timing-function: ease;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
@keyframes bounce-3 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    /* transform: translateY(5%);
    transform: translateX(50%); */
    transform: translate(-4%, 6%) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
main .mainBackground_lf {
  width: 700px;
  top: -32%;
  left: -20%;
  animation: rotation 3s linear infinite;
  /* animation: scale 1s linear infinite; */
}
main .main_fonts {
  width: 1000px;
  top: -54%;
  left: -27%;
  animation: rotation 3s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: rotate(0);
  }
}
/* main .main_star_playX {
  top: 0;
  left: 0;
} */
main h4 {
  font-family: "양진체", 돋움, sans-serif;
  font-size: 3rem;
  color: #c98cfc;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  position: absolute;
  top: 45%;
  right: 5%;
  -webkit-animation: text-blur-out 2.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    infinite;
  animation: text-blur-out 2.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    /* transform: translateY(300px); */
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
    /* transform: translateY(0); */
  }
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    /* transform: translateY(300px); */
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
    /* transform: translateY(0); */
  }
}
main .mainTitle {
  width: 900px;
  height: 408px;
  position: absolute;
  top: 50%;
  right: 1%;
  color: #fff;
  display: block;
}
main .mainTitle p {
  font-size: 4.2rem;
  font-family: "NotoSans", 돋움, sans-serif;
  font-weight: 500;
  height: 150px;
}
main .mainTitle h2 {
  text-align: center;
  font-size: 4.2rem;
  font-family: "양진체", 돋움, sans-serif;
  color: #000;
  float: left;
  letter-spacing: 4px;
}
main .mainTitle h2:nth-child(1) {
  color: #fff;
}

/* 생기-별 */
main .fontStar {
  position: absolute;
  top: 51.5%;
  right: 32.5%;
  /* animation: blink-effect 1s step-end infinite; */
}
img.fontStar {
  width: 170px;
}
main .mainTitle .size_fall {
  font-size: 3.1rem;
  height: 150px;
  width: 230px;
  line-height: 180px;
  /* margin-right: 8%; */
  transition: 3s;
  background: url(../images/object/main-fontStar.png) no-repeat 50% 80% /
    contain;
}

.title_ani {
  animation: title 2.5s infinite ease;
  text-indent: 75px;

  /* animation: blink-effect 1s infinite step-end; */
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.mgRt {
  margin-right: 5%;
}
.mgTop {
  margin-top: 2%;
}
.mgTop2 {
  margin-top: 5%;
  height: 150px;
  line-height: 150px;
}

/* 움직이는 별 */
.Art_star {
  width: 100vw;
  height: 100vh;
}
.Art_star img {
  width: 60px;
}
/* 오른쪽 아트 하단 흰색 별  */
.Star1 {
  position: absolute;
  bottom: 8%;
  right: 35%;
}
/* 화살표 하단 블랙라인 별 */
.Star2 {
  position: absolute;
  bottom: 12%;
  left: 8%;
  transition: 3s;
}
/* 왼쪽 아트 흰색 별 */
.Star3 {
  position: absolute;
  top: 6%;
  left: 9%;
}
img.Star6 {
  width: 45px;
}
.Star6 {
  position: absolute;
  top: 20%;
  left: 2%;
  transition: 3s;
  animation: blink-effect 2s infinite step-start;
}
img.Star7 {
  width: 35px;
}
.Star7 {
  position: absolute;
  bottom: 17%;
  left: 6%;
  transition: 3s;
  animation: blink-effect 2s infinite step-start;
}
img.Star8 {
  width: 38px;
}
.Star8 {
  position: absolute;
  bottom: 30%;
  left: 8%;
  transition: 3s;
}
img.Star9 {
  width: 46px;
}
.Star9 {
  position: absolute;
  bottom: 27%;
  left: 22%;
  transition: 3s;
  animation: blink-effect 1.5s infinite step-start;
}
/* 오른쪽 아트 흰색 다이아몬드 별 */
.Star4 {
  position: absolute;
  top: 25%;
  right: 5%;
  transition: 3s;
  animation: blink-effect 2s infinite step-start;
}
img.Star4 {
  width: 100px;
}
/* 화살표 상단 블랙 별 */
.Star5 {
  position: absolute;
  bottom: 32%;
  left: 20%;
}
img.Star5 {
  width: 25px;
}

/* 포트폴리오 보기 화살표 */
main .arrow {
  bottom: 5%;
  left: 4%;
  width: 400px;
  height: 424px;
  background: url(../images/object/arrowBackground.png) no-repeat 50% / cover;
  cursor: pointer;
}
@keyframes trans {
  0% {
    transform: translate(-10%, 10%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
main .arrow .arrowImg {
  position: absolute;
  width: 80px;
  top: 72%;
  left: 40%;
  animation: bounce 2s infinite;
}
main .arrow .viewTitle {
  position: absolute;
  top: 30%;
  left: 21%;
}
main .arrow .viewTitle h3 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}
main .arrow .viewTitle h2 {
  font-size: 4rem;
  font-weight: 500;
}

/* 포트폴리오 */
.portfolio {
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
  position: relative;
}
img.Project_Img {
  width: 1150px;
  border-radius: 35px;
}
/* swiper 타이틀 */
.slide_title {
  position: absolute;
  bottom: 20%;
  left: 10%;
  text-align: left;
}
.projectDate {
  font-family: "NotoSans", 돋움, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.projectName_En {
  font-size: 3rem;
  font-weight: 500;
}
.projectName_Kr {
  font-family: "NotoSans", 돋움, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
.projectItmBox {
  display: flex;
  font-family: "NotoSans", 돋움, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 15px;
}
.projectItmBox p {
  border: 1px solid #fff;
  padding: 5px 25px;
  border-radius: 10px;
  margin-right: 15px;
}
/* .iden {
  color: #000;
  border-color: #fff;
} */

/* 왼쪽 타이틀 */
.portfolioTxt {
  width: 300px;
  height: 900px;
  position: relative;
  transition: 0.3s;
}
.portfolio_Title {
  font-size: 5.2rem;
  font-weight: 800;
  transform: rotate(-90deg);

  position: absolute;
}
.portfolio_arrow {
  position: absolute;
  bottom: 7%;
  left: 61%;
}
/* work 화살표 */
.portfolio_arrowPF {
  position: absolute;
  bottom: 7%;
  left: 61%;
}
.publishingTitle {
  bottom: 45%;
  left: -10%;
}
.packageTitle {
  bottom: 39%;
  left: 7%;
}
.webTitle {
  bottom: 31%;
  right: 5%;
  font-size: 7.5rem;
}
/* 타이틀 js */
.TitleBox_Pub.fixed {
  width: 300px;
  height: 900px;
  position: fixed;
  bottom: 5%;
  animation: bounce 2s infinite;
}
.TitleBox_Package.fixed {
  width: 300px;
  height: 900px;
  position: fixed;
  bottom: 5%;
  animation: bounce 2s infinite;
}
.TitleBox_Web.fixed {
  width: 300px;
  height: 900px;
  position: fixed;
  bottom: 5%;
  animation: bounce 2s infinite;
}
.TitleBox_About.fixed {
  width: 300px;
  height: 900px;
  position: fixed;
  bottom: 5%;
  z-index: 9999;
  animation: bounce 2s infinite;
}
.aboutTitle {
  font-size: 7.5rem;
  bottom: 38%;
  right: -12%;
}

/* about-1 */
.about {
  width: 100%;
  height: 100vh;
  background: fixed url(../images/object/articleBackground_1920.png) no-repeat
    50% / cover;
  color: #000;
  position: relative;
}
img.profileImg {
  width: 450px;
  border-radius: 250px 250px 0 0;
  position: absolute;
  bottom: 15%;
  right: 10%;
}
.about_mention {
  position: absolute;
  bottom: 33%;
  left: 25%;
}
.about_mention h2 {
  font-family: "NotoSans", 돋움, sans-serif;
  font-size: 2rem;
  font-weight: bold;

  margin-top: 10%;
  margin-bottom: 5%;
  line-height: 1.5;
}
.about_mention p {
  font-family: "NotoSans", 돋움, sans-serif;
  font-size: 1.5rem;

  line-height: 1.5;
}
.about_mention_bg {
  width: 460px;
  position: absolute;
  bottom: 15%;
  left: 25%;

  display: block;
  cursor: pointer;
}
.about_mention_bg span {
  width: 220px;
  height: 50px;
  margin-top: 2%;
  margin-right: 2%;
  float: left;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_mention_bg span:nth-child(3) {
  width: 150px;
}
.about_mention_bg span:hover {
  animation-name: wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.about_mention_bg h2 {
  font-family: "NotoSans", 돋움, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;

  /* 텍스트 박스 그라데이션 */
  background-image: linear-gradient(to right, #ff99ff, #fff, #b3ccff, #d966ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  transition: 0.5s;
  background-size: 200% auto;
}
.about_mention_bg h2:hover {
  background-position: right center;
  background-image: linear-gradient(to right, #ff99ff, #fff, #b3ccff, #d966ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.3s;
}
.about_mention_bg h2:nth-child(-n + 2) {
  margin-top: 0;
}
.about_mention_bg h2:nth-child(2n) {
  margin-right: 0;
}

/* 움직이는 별 */
img.aboutStar {
  position: absolute;

  width: 50px;
}
img.aboutStar_bkLine {
  width: 37px;
}
/* 오른쪽 */
.aboutStar_bkLine {
  top: 51%;
  left: 43%;
  transform: rotate(-60deg);
}
img.aboutStar_bkLine2 {
  width: 31px;
}
/* 왼쪽 */
.aboutStar_bkLine2 {
  top: 48%;
  left: 23%;
}

img.aboutStar_bk {
  width: 62px;
}
.aboutStar_bk {
  top: 45%;
  left: 41%;
}
/* 왼쪽 */
img.aboutStar_bk2 {
  width: 60px;
}
.aboutStar_bk2 {
  top: 50%;
  left: 21%;
  transform: rotate(-110deg);
}

/* about-2 */
.portfolioSkils {
  width: 80vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  /* justify-content: flex-end; */
  /* padding: 15% 30% 20% 15%; */
  margin-top: 10%;
  margin-left: 30%;
  /* margin-right: 0; */

  position: absolute;
  bottom: 10%;
  right: 0;
}
.portfolioSkill {
  border: 3px solid #000;
  border-left: none;
}
.portfolioSkill:nth-child(3) {
  border-right: none;
}
.portfolioSkill h2 {
  font-family: "NotoSans", 돋움, sans-serif;
  font-size: 2rem;
  font-weight: bold;

  text-align: center;
  width: 414px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 3px solid #000;
}
.portfolioSkill ul {
  font-family: "NotoSans", 돋움, sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  width: 414px;
  height: 480px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
  list-style: disc;
  line-height: 1.8;
}

/* about-3 */
.portfolioPersonals {
  width: 63vw;
  /* height: 70vh; */
  display: flex;
  flex-direction: column;

  position: absolute;
  bottom: 10%;
  right: 10%;
}
.portfolioPersonal {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-top: 3px solid #000;

  font-family: "NotoSans", 돋움, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
}
.portfolioPersonal:nth-child(4) {
  border-bottom: 3px solid #000;
}
.portfolioPersonal h2 {
  padding-right: 25px;
  font-size: 1.5rem;
  font-weight: bold;

  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.portfolioPersonal ul {
  width: 948px;
  line-height: 1.75;
}

/* contact */
.contact {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  color: #000;
}

/* 폰트 그라디언트 */
/* .PortfolioBox {
  display: flex;
  width: 100%;
  height: 20vh;
}
.contact .PortfolioText {
  line-height: 20vh;
  font-size: 87px;

  font-weight: 700;

  background: linear-gradient(to right, #ff99ff, #d9b3ff, #b3ccff, #d966ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  display: block;
} */

.flow-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  /* padding: 100px 0; */
  overflow-x: hidden;
  overflow-y: hidden;
  height: 20vh;
  cursor: pointer;
}
.flow-container .PortfolioBox {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
  display: flex;
  cursor: pointer;
}
.flow-container .PortfolioText {
  line-height: 20vh;
  font-size: 87px;
  font-weight: 700;
  /* position: absolute; */
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
  background: linear-gradient(to right, #ff92ff, #d0a4fc, #aec9fd, #d966ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}
@keyframes marquee {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
}

/* 컨텍트 로고 */
img.contact_Logo {
  padding: 100px 80px 80px 80px;
}
.contact_Logo {
  margin-right: auto;
  animation: jello-horizontal 2s backwards infinite;
  animation-delay: 2s;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.contactBackground {
  background: url(../images/object/contactBackground-08.png) no-repeat 50% /
    cover;

  width: 100%;
  height: 80vh;

  display: flex;
}
.contactBox {
  width: 35vw;
  display: flex;
  flex-direction: column;
}
.contactBackgroundFlex {
  display: flex;
  align-items: baseline;
}
/* .contactBackground_Title {
    width: 1000px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10%; right: 0;

    font-size: 3rem;
} */
.contactBackground_MainTitle {
  width: 34vw;
  position: absolute;
  top: 38%;
  right: 21%;
  cursor: pointer;
}
.contactBackground_MainTitle h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-right: 100px;
}
.contactBackground_MainTitle .contact_Menu {
  font-size: 2rem;
  font-weight: 700;
}
.contactBackground_MainTitle .contact_Menu li {
  height: 43px;
  line-height: 43px;
  margin-right: 40px;
}
.contactBackground_MainTitle .contact_Menu li:last-child {
  margin-right: 0;
}
.contactBackground_SubTitle {
  width: 51vw;
  border-top: 3px solid #000;
  position: absolute;
  bottom: 16%;
  right: 0%;

  font-size: 2rem;
}
.contact_SubTitle {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 20px;
  cursor: pointer;
}
.contact_SubTitle h3 {
  width: 184px;
  text-align: center;
  border: 1.5px solid #000;
  border-radius: 80%;
  padding: 20px 40px;
  margin-right: 30px;

  font-weight: 500;
}
.contact_SubTitle h3:hover {
  background-color: #000;
  color: #fff;

  transition: 0.3s;
}
p.text_doc_Contact {
  text-decoration: none;
  background-image: linear-gradient(#292929, #292929);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  transition: background-size 500ms ease-in-out;
}
.contact_SubTitle p {
  font-family: "NotoSans", 돋움, sans-serif;
  font-size: 1.5rem;
}
.contact_SubTitle:hover p.text_doc_Contact {
  background-size: 100% 2px;
  color: inherit;
}

/* scrollTo */
.scrollTo {
  position: absolute;
  bottom: 5%;
  right: 2%;
  color: #292929;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}
.scrollTo:hover {
  color: #000;
}
.material-symbols-outlined {
  cursor: pointer;
  font-size: 90px;
  font-weight: 100;

  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.material-symbols-outlined:hover {
  animation: none;
}
.scrollTo p {
  font-weight: 600;
  font-style: italic;

  font-size: 1.5rem;
}

/* footer */
footer {
  background-color: #000;
  color: #fff;

  width: 100vw;
  height: 20vh;
  padding: 40px 70px;
  color: #b5b5b5;
}
/* .footerTitle {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

} */
.footerMain_font {
  display: flex;
  align-items: flex-end;
}
footer .copy {
  margin-top: 40px;
  /* border-top: 1px solid #333; */
  width: 100%;
  text-align: right;
}
footer h3 {
  font-size: 2rem;
  margin-right: auto;
  font-weight: 500;
}
footer p {
  font-family: "NotoSans", 돋움, sans-serif;
  font-weight: 400;
  font-size: 18px;
}
footer p:nth-child(1) {
  margin-bottom: 40px;
}
.footerMg {
  margin-right: 100px;
}
/* .fontColor {
    color: #333;
} */

/* 페이지 전환 페이드인업 */
.page {
  width: 100%;
  height: 100vh;
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

.page.active {
  transform: translateY(0);
  opacity: 1;
}


.swiper-slide > .bk {
  color: #000;
}
.swiper-slide > .bk > .projectItmBox > .projectItm {
  border-color: #000;}
