@charset "utf-8";
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccaefc;
  border-radius: 15px;
}
::-webkit-scrollbar-track {
  background-color: /* #ebebeb */ transparent;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes 요리조리 {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(8deg);
  }

  75% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

body {
  font-family: "Prompt", 돋움, sans-serif;
  color: #000;
  background-color: #fff;
  /* position: relative; */
}

/* header */
header {
  width: 100%;
  height: 22.1vh;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  position: fixed;
  transition: 0.2s;
  cursor: pointer;
}
img.svg {
  width: 30px;
}
.headerBox1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 3%;
}
.Menu {
  display: flex;
  font-size: 24px;
  /* margin-right: auto; */
}
.Menu li {
  font-weight: 600;
  margin-right: 25%;
}
.Menu li:last-child {
  margin-right: 0;
}
header h1 {
  width: 100%;
  text-align: center;
  padding: 2% 0 0 0;
}
img.header_Logo {
  width: 400px;
}
.iconBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 240px;
}
.iconBox li {
  margin-right: 18%;
  height: 40px;
  line-height: 40px;
}
.iconBox li:last-child {
  margin-right: 0;
}
.headerLogo_2 {
  display: none;
}
.headerLogo_2.active {
  display: block;
}
.headerLogo2.active {
  width: 200px;
  height: 31.56px;
  line-height: 31.56px;
  padding: 0;
  display: block;
}

/* main */
main {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../images/main-bg-01.png) no-repeat 50% / cover;
}
.main-1 {
  width: 100%;
  background: fixed url(/project/peachc/common/images/main-bg-01.png) no-repeat
    50% / cover;
}
.mainTitle {
  position: absolute;
  bottom: 13%;
  right: 8%;
  font-family: "SpoqaHanSansNeo", 돋움, sans-serif;
  color: #fff;
}
.mainTitle h3 {
  font-size: 1.8rem;
  font-weight: 600;
}
.mainTitle p {
  font-size: 2rem;
  font-weight: 400;
  text-align: right;
}

/* section */
/* banner_mdPICK */
.banner_mdPICK {
  width: 100%;
  height: 150vh;
  background: linear-gradient(#d1caff, #e6e2ff, #efedff);
  border-top: 13px solid #ebff00;
  position: relative;
}
.imageBox {
  width: 60vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -55%, 0);
  z-index: 999;
}
.mauvewave {
  position: absolute;
  top: 13%;
}
.mainTitle {
}
.mdPICKTitle {
  font-size: 12rem;
  font-weight: 700;
}
.mdPICKTitle_rt {
  position: absolute;
  right: 0;
  top: 8%;
}
.mdPICKTitle_lf {
  position: absolute;
  left: 0;
  bottom: 10%;
}

/* product */
.product {
  overflow: hidden;
}
.productTitle {
  font-family: "SpoqaHanSansNeo", 돋움, sans-serif;
  position: absolute;
  bottom: 10%;
  right: 23%;
  line-height: 1.6;
}
.productTitle h3 {
  font-weight: 700;
  font-size: 1.7rem;
  text-align: right;
}
.productTitle p {
  font-weight: 300;
  font-size: 1.3rem;
  text-align: right;
  margin-top: 5%;
  color: #444;
}
/* viewBtn */
.viewBtn a {
  display: flex;
}
.viewBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 500px;
  cursor: pointer;
}
.banner_md_Btn {
  position: absolute;
  bottom: 5%;
  left: 6%;
}
.viewBtn p {
  width: 145px;
  height: 55px;
  line-height: 55px;
  font-size: 1.5rem;
  font-weight: 500;
}
.viewBtn .arrowbtn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
  animation: bounce 2s infinite;
}
.viewBtn .arrowbtn:hover {
  animation: none;
}
.text_doc {
  text-decoration: none;
  background-image: linear-gradient(#292929, #292929);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  transition: background-size 500ms ease-in-out;
}
.viewBtn:hover .text_doc {
  background-size: 100% 2px;
  color: inherit;
}
img.arrow {
  width: 30px;
}

.productImg_Box {
  width: 100%;
}
.productImg {
}
.item_replaypink {
  position: absolute;
  top: 2%;
}
.item_mauvewave {
  position: absolute;
  right: 12%;
  bottom: 9%;
  transform: rotate(-25deg);
}
.item_mauvewave img {
  width: 180px;
}
.item_sunsetgrass {
  position: absolute;
  right: 7%;
  top: 40%;
  transform: rotate(9deg);
}
.item_sunsetgrass img {
  width: 150px;
}
.item_replaypink {
  position: absolute;
  left: 5%;
  top: 20%;
  transform: rotate(-16deg);
}
.item_replaypink img {
  width: 160px;
}

/* slideAni" */
.flow-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  /* padding: 100px 0; */
  overflow-x: hidden;
  overflow-y: hidden;
  height: 10vh;
  cursor: pointer;
}
.flow-container .PortfolioBox {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
  display: flex;
  cursor: pointer;
}
.flow-container .PortfolioText {
  line-height: 10vh;
  font-size: 35px;
  font-weight: 200;
  /* position: absolute; */
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
  color: #111;
}
@keyframes marquee {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
}

/* product */
.product {
  width: 100%;
  margin-top: 7%;
}
.title h3 {
  font-family: "Frank", 돋움, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: #111;
  line-height: 1.3;
}
.title span {
  font-family: "Frank", 돋움, sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}
.products_Box {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 8%;
}
.product_inner {
  width: 100%;
  display: flex;
  position: relative;
}
/* PALETTE */
.product_1 {
  justify-content: flex-start;
  align-items: center;
}
.modal {
  width: 700px;
}
.itemImg {
  /* margin-left: auto; */
}
.product_PALETTE {
  position: absolute;
  left: 42%;
}
img.product_PALETTE {
  width: 360px;
}
.innerTitle {
  /* margin-left: auto; */
  z-index: 999;
}
.product_1_innerTitle {
  position: absolute;
  right: 0;
}
.innerTitle h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
}
.innerTitle p {
  margin-top: 3%;
  font-family: "SpoqaHanSansNeo", 돋움, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #222;
}
.product_1 .innerTitle h3 {
  font-size: 2.1rem;
}
.Circle {
  width: 100%;
  display: flex;
  margin-top: 10%;
}
.PALETTE_Circle {
  justify-content: flex-end;
}
.Circle .PALETTE {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 65%;
  margin-right: 3%;
}
.Circle .PALETTE:last-child {
  margin: 0;
}
.Circle .PALETTE_1 {
  background-color: #ffd6bf;
}
.Circle .PALETTE_2 {
  background-color: #ffd7fb;
}
.Circle .PALETTE_3 {
  background-color: #fdc0e4;
}

.product_PALETTE_Btn {
  /* margin-top: 10%; */
  position: absolute;
  bottom: 0;
  right: 0;
}

/* liner */
.product_2 {
  margin-top: 13%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.product_liner {
  position: absolute;
  right: 44%;
}
img.product_2_modal {
  margin-left: auto;
}
img.product_liner {
  width: 265px;
}
.innerTitle {
  /* margin-left: auto; */
  z-index: 999;
}
.product_2_innerTitle {
  position: absolute;
  left: 0;
}
.liner_Circle {
  justify-content: flex-start;
}
.Circle .liner {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 65%;
  margin-right: 3%;
}
.Circle .liner_1 {
  background-color: #000;
}
.Circle .liner_2 {
  background-color: #61351a;
}
.Circle .liner_3 {
  background-color: #825c38;
}
.product_liner_Btn {
  /* margin-top: 10%; */
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*  */

/* UNDEREYE */
.product_3 {
  margin-top: 13%;
  justify-content: flex-start;
  align-items: center;
}
.product_UNDEREYE {
  position: absolute;
  left: 44%;
}
img.product_UNDEREYE {
  width: 175px;
}
.innerTitle {
  /* margin-left: auto; */
  z-index: 999;
}
.product_3_innerTitle {
  position: absolute;
  right: 10%;
}
.UNDER_Circle {
  justify-content: flex-end;
}
.Circle .UNDERUNDER {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 65%;
  margin-right: 3%;
}
.Circle .UNDERUNDER:last-child {
  margin: 0;
}
.Circle .EYE_1 {
  background-color: #d3a886;
}
.Circle .EYE_2 {
  background-color: #b89083;
}
.product_UNDEREYE_Btn {
  /* margin-top: 10%; */
  position: absolute;
  bottom: 0;
  right: 10%;
}

/* BRUSH */
.product_4 {
  margin-top: 13%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.product_mascara {
  position: absolute;
  right: 43.5%;
}
img.product_4_modal {
  margin-left: auto;
}
img.product_mascara {
  width: 320px;
}
.innerTitle {
  /* margin-left: auto; */
  z-index: 999;
}
.product_4_innerTitle {
  position: absolute;
  left: 0;
}
.mascara_Circle {
  justify-content: flex-start;
}
.Circle .mascara {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 65%;
  margin-right: 3%;
}
.Circle .mascara_1 {
  background-color: #000;
}
.Circle .mascara_2 {
  background-color: #61351a;
}
.product_mascara_Btn {
  /* margin-top: 10%; */
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
}
.fade {
  position: relative;
}
.fade_right {
  position: relative;
}

/* about */
.about_banner {
  margin-top: 7%;
  width: 100%;
  background-color: #fefcf3;
  position: relative;
  padding: 0.2% 0 15% 0;
}
.aboutTitle {
  font-family: "Frank", 돋움, sans-serif;
  font-size: 10rem;
  text-align: center;
  color: #292929;
  cursor: pointer;
  font-weight: 600;
  /* z-index: 9999; */
}
h2.big {
  display: block;
  font-size: 18rem;
  font-weight: 300;
  font-style: italic;
}
.top {
  margin-top: 10%;
}
.bottom {
  display: flex;
  justify-content: flex-end;
  padding: 0 3%;
  margin-top: 3%;
}
h2.mg {
  margin-right: auto;
}
.sm {
  font-size: 12rem;
  margin-top: 1%;
}
.font {
  font-size: 15rem;
}
.mention {
  font-family: "SpoqaHanSansNeo", 돋움, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: #222;
  line-height: 1.8;
  position: absolute;
  bottom: 9%;
  right: 13%;
}
.mention span {
  font-weight: 600;
  color: #444;
}
.about_Btn {
  /* margin-top: 10%; */
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 9%;
  left: 18%;
}
.slide_modal {
  position: absolute;
  bottom: 19%;
  left: 34%;
}
img.slide_modal {
  width: 440px;
}
/* hoverEV_1 */
.hoverEV_1 {
  display: none;
}
.big:hover {
  color: #000;
}
.big:hover .hoverEV_1 {
  display: block;
}
.hoverEV_replaypink {
  position: absolute;
  top: 5%;
  left: 10%;
  transform: rotate(-15deg);
  animation: 요리조리 1s infinite ease-in-out;
}
img.hoverEV_replaypink {
  width: 190px;
}
.about_Product {
  z-index: 9;
  transition: 3s;
}
.hoverEV_GLITTER_PH {
  position: absolute;
  top: 30%;
  right: 19%;
  transform: rotate(15deg);
  animation: 요리조리 1s infinite ease-in-out;
}
.hoverEV_MASCARA_BLUE {
  position: absolute;
  bottom: 5%;
  right: 9%;
  transform: rotate(-14deg);
  animation: 요리조리 1s infinite ease-in-out;
}
img.hoverEV_MASCARA_BLUE {
  width: 160px;
}

/* hoverEV_2 */
.hoverEV_2 {
  display: none;
}
.sm:hover {
  color: #000;
}
.sm:hover .hoverEV_2 {
  display: block;
}
.hoverEV_tint {
  position: absolute;
  top: 5%;
  left: 10%;
  transform: rotate(-15deg);
  animation: 요리조리 1s infinite ease-in-out;
}
img.hoverEV_tint {
  width: 190px;
}
.hoverEV_custion {
  position: absolute;
  top: 30%;
  right: 8%;
  transform: rotate(15deg);
  animation: 요리조리 1s infinite ease-in-out;
}
img.hoverEV_custion {
  width: 350px;
}
.hoverEV_tunningbrushset03 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: rotate(-14deg);
  animation: 요리조리 1s infinite ease-in-out;
}
img.hoverEV_tunningbrushset03 {
  width: 320px;
}

/* hoverEV_3 */
.hoverEV_3 {
  display: none;
}
.font:hover {
  color: #000;
}
.font:hover .hoverEV_3 {
  display: block;
}
.hoverEV_MASCARA_PINK {
  position: absolute;
  top: 5%;
  left: 13%;
  transform: rotate(-15deg);
  animation: 요리조리 1s infinite ease-in-out;
}
img.MASCARA_PINK {
  width: 150px;
}
.hoverEV_mauvewave {
  position: absolute;
  top: 30%;
  right: 14%;
  transform: rotate(15deg);
  animation: 요리조리 1s infinite ease-in-out;
}
img.hoverEV_mauvewave {
  width: 160px;
}
.hoverEV_base {
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: rotate(-14deg);
  animation: 요리조리 1s infinite ease-in-out;
}
img.hoverEV_base {
  width: 140px;
}

/* review */
.review_Box {
  width: 100%;
  display: flex;
  margin-top: 7%;
  padding: 0 0 0 9.4%;
}
.review_title {
  display: flex;
  flex-direction: column;
}
.review_title .title h3 {
  text-align: left;
  font-style: normal;
}
.review_Menu {
  margin-top: 15%;
}
.review_Menu .reviewMenu {
  font-family: "Frank", 돋움, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 5%;
  color: #777;
  cursor: pointer;
}
/* review_Menu */
.reviewMenu.click {
  color: #111;
  font-weight: 600;
}

.review_mention {
  text-align: center;
  font-family: "SpoqaHanSansNeo", 돋움, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #222;
  width: 300px;
  margin: 0 auto;

  padding: 10% 0;
}
.review_mention h3 {
  font-size: 1.4rem;
  font-weight: 600;
  border-bottom: 3px solid #dbdbdb;
  /* margin-bottom: 3%; */
  padding: 5% 0;
}
.review_mention span {
  padding: 5%;
  color: #ffd000;
}
.review_mention p {
  padding: 5%;
  line-height: 1.7;
  color: #777;
}
.All_Box {
  opacity: 0;
}
.All_Box.active {
  opacity: 1;
}
.Face_Box {
  opacity: 0;
}
.Face_Box.active {
  opacity: 1;
}
/* instagram */
.instagram {
  margin-top: 7%;
  width: 100%;
  height: 100vh;
}
.instagram .title {
  padding: 0 9.4%;
}
.instagram .title h3 {
  text-align: left;
  font-style: normal;
}
.instagram .title p {
  font-family: "Frank", 돋움, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #777;
}

/* hover */
/* .instagram_Box {width: 100%; display: flex; position: relative; overflow: hidden;}
.feed {position: relative;}
.feed:hover span {opacity: 1;}
.feed span {position: absolute; top: 50%; left: 50%;
  transform: translate3d(-50%, -50%, 0); z-index: 999; font-size: 5rem; color: #E9FF60; opacity: 0; transition: .6s;}
.feed img {border-radius: 5%; transition: .8s;}
.feed:hover img {filter: brightness(50%);}

.feed_1 {width: 800px; position: relative;}
.feed_1 img {width: 350px; position: absolute;bottom: 0; left: -15%;
  transform: translate3d(-50%, -50%, 0);} */

.instagram_Box {
  width: 100%;
  display: flex;
  position: relative;
  /* overflow: hidden; */
  padding: 25% 0;
  margin: 0 auto;
  margin-top: 3%;
  transition: 0.4s;
}
.feed {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.feed:hover {
  transform: scale(1.2);
}
.feed img {
  border-radius: 5%;
  transition: 0.8s;
}
.feed:hover img {
  filter: brightness(50%);
  box-shadow: 6.7px 6.7px -3px rgba(0, 0, 0, 0.009),
    14px 14px -0.7px rgba(0, 0, 0, 0.019),
    22.9px 22.9px 10.5px rgba(0, 0, 0, 0.028),
    35.4px 35.4px 38.6px rgba(0, 0, 0, 0.038),
    57.9px 57.9px 100.1px rgba(0, 0, 0, 0.05),
    100px 100px 205px rgba(0, 0, 0, 0.07);
}

.feed_1 {
  position: absolute;
  left: -5%;
  bottom: 0;
}
.feed_1 img {
  width: 350px;
}
.feed_1 a {
  position: relative;
}
.feed_1 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 999;
  font-size: 5rem;
  color: #e9ff60;
  opacity: 0;
  transition: 0.6s;
}
.feed_1:hover span {
  opacity: 1;
}

.feed_2 {
  position: absolute;
  left: 18%;
  top: 5%;
}
.feed_2 img {
  width: 580px;
}
.feed_2 a {
  position: relative;
}
.feed_2 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 999;
  font-size: 5rem;
  color: #e9ff60;
  opacity: 0;
  transition: 0.6s;
}
.feed_2:hover span {
  opacity: 1;
}

.feed_3 {
  position: absolute;
  left: 53%;
  top: 0;
}
.feed_3 img {
  width: 250px;
}
.feed_3 a {
  position: relative;
}
.feed_3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 999;
  font-size: 5rem;
  color: #e9ff60;
  opacity: 0;
  transition: 0.6s;
}
.feed_3:hover span {
  opacity: 1;
}

.feed_4 {
  position: absolute;
  left: 53%;
  bottom: 0;
}
.feed_4 img {
  width: 450px;
}
.feed_4 a {
  position: relative;
}
.feed_4 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 999;
  font-size: 5rem;
  color: #e9ff60;
  opacity: 0;
  transition: 0.6s;
}
.feed_4:hover span {
  opacity: 1;
}

.feed_5 {
  position: absolute;
  right: 0;
  bottom: 25%;
}
.feed_5 img {
  width: 360px;
}
.feed_5 a {
  position: relative;
}
.feed_5 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 999;
  font-size: 5rem;
  color: #e9ff60;
  opacity: 0;
  transition: 0.6s;
}
.feed_5:hover span {
  opacity: 1;
}

/* footer */
footer {
  width: 90%;
  border-top: #999 solid 2px;
  padding: 4%;
  margin: 0 auto;
  margin-top: 15%; /* color: #fff; background-color: #000; */
  color: #222;
}
.footerTitle {
  display: flex;
  justify-content: flex-end;
  line-height: 2;
}
.inner_title {
  margin-right: auto;
}
footer h2 {
  width: 180px;
  margin-bottom: 2%;
}
footer p {
  font-family: "SpoqaHanSansNeo", 돋움, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}
.copyright {
  margin-top: 5%;
  color: #777;
}
.inner_service {
  font-size: 1.2rem;
}
.inner_sns svg {
  margin-top: 5%;
  width: 33px;
  margin-right: 1%;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
